@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--jar-border: hsla(240, 100%, 50%, 0.7);
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	row-gap: 1rem;
	background-color: rgb(75, 139, 234);
	height: 100vh;
	color: #fee;
	text-align: center;
	font-size: 16px;
	padding: 30px;
}
h1 {
	font-weight: 400;
	margin-top: 25px;
}
h3 {
	margin-top: 0px;
	font-weight: 300;
	margin-top: -15px;
}

#jar {
	width: 140px;
	height: 280px;
	border: 3px solid var(--jar-border);
	background-color: #fff;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	color: royalblue;
	padding: 20px;
	font-size: 20px;
	font-weight: 600;
	position: relative;
	margin: 20px 0;
	z-index: 10;
	overflow: hidden;
}
#jar::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: lightskyblue;
	width: 134px;
	height: var(--height, 0);
	z-index: -1;
	border-bottom-left-radius: 27px;
	border-bottom-right-radius: 27px;
	transition: height 0.6s linear;
}

#remained {
	position: absolute;
	top: 50%;
	left: 50%;
	letter-spacing: 1.5px;
	transform: translate(-50%, -50%);
	transition: top 0.6s linear;
}
small {
	font-size: 12px;
	font-weight: 400;
}

#percentage {
	font-size: 20px;
	position: absolute;
	bottom: 10%;
	left: 55%;
	transform: translateX(-50%);
}
.jug {
	border: 3.5px solid var(--jar-border);
	background-color: #fff;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 60px;
	height: 120px;
	color: royalblue;
	padding: 10px;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	position: relative;
}

.jug.water {
	transition: 0.6 ease;
	background-color: lightskyblue;
	color: #fff;
}

.jugs {
	display: flex;
	gap: 20px;
	width: 300px;
	flex-wrap: wrap;
}
