@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

:root {
	--active-color: steelblue;
	--disable-color: rgba(128, 128, 128, 0.4);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Titillium Web', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	background-color: purple;
}
.container {
	text-align: center;
}

#search {
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	/* display: none; */
	opacity: 0;
	max-width: 0;
	transition: 0.4s ease;
}

.show {
	opacity: 1;
	max-width: 1000px;
}

#search:focus {
	outline: none;
}
