@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--banner-color: RGB(48, 56, 98);
}

body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	flex-direction: column;
}

header {
	width: 100%;
	padding: 20px;
	background-color: var(--banner-color);
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	color: #fff;
}
header span {
	font-family: 'Niconne';
	color: yellowgreen;
	font-size: 40px;
	padding-right: 10px;
}

.card {
	width: 400px;
	/* intrinsicsize="350x300" */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	padding: 15px;
}
.card-header {
	background-repeat: no-repeat;
	border-radius: 10px;
	overflow: hidden;
	height: 300px;
}
.card-header img {
	width: 100%;
	height: 100%;
	/* height: 215px; */
}
.content-header {
	font-size: 15px;
}

.card-content {
	margin-top: 20px;
}
.card-excerpt {
	font-size: 13px;
	color: #777;
}

.profile {
	display: flex;
	margin: 20px 0;
}

.profile img {
	border-radius: 100%;
	margin-right: 10px;
	width: 50px;
	height: 50px;
}

.profile-name {
	font-size: 13px;
	line-height: 0.9;
	margin-top: 8px;
}

.profile-info small {
	font-size: 10px;
	color: #919191;
	display: block;
}

.animated-bg {
	background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 10%, #f6f7f8 20%, #f6f7f8 100%);
	background-size: 200% 100%;
	animation: bgPos 1s linear infinite;
}

.animated-bg-text {
	animation: bgPos 1s linear infinite;
	border-radius: 50px;
	display: inline-block;
	margin: 0;
	height: 10px;
	width: 100%;
}

@keyframes bgPos {
	0% {
		background-position: 50% 0;
	}
	100% {
		background-position: -150% 0;
	}
}
