@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Montserrat:wght@100;200;300;400;500;700;900&display=swap');

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background: #0f1121;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 3rem auto 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  flex: 1;
}

.nav__list {
  list-style-type: none;
  display: flex;

  justify-content: center;
}

.nav__item {
  position: relative;
}

.nav__link,
.logo {
  min-width: max-content;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
}

.nav__link--signup {
  background-color: blue;
  border-radius: 0.5em;
}

.nav__link--signup:hover {
  opacity: 0.75;
  transform: scale(0.98);
}
.logo {
  letter-spacing: 2px;

  display: flex;
}

.dropdown-menu {
  background-color: blue;
  border-radius: 10px;
  padding: 20px 10px;
  text-align: center;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.dropdown-menu__list {
  list-style-type: none;
}

.dropdown-menu__item {
  padding: 10px;
}
.dropdown-menu__link {
  text-decoration: none;
  color: white;
}

.nav__link--dropdown {
  padding-bottom: 1.5rem;
}
.nav__link--dropdown:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

.dropdown-menu__item:hover {
  opacity: 0.75;
}

.fa-chevron-down {
  font-size: 0.75em;
}
