@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Titillium Web', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}
#bg {
	background-image: url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: center; */
	filter: blur(30px);
	height: calc(100vh + 60px);
	width: calc(100vw + 60px);
	position: absolute;
	top: -30px;
	left: -30px;
}

.loadingText {
	letter-spacing: 5px;
	font-size: 64px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
