@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--left-bg-color: rgba(87, 84, 236, 0.7);
	--right-bg-color: rgba(43, 43, 43, 0.8);
	--left-btn-hover-color: rgba(87, 84, 236, 1);
	--right-btn-hover-color: rgba(28, 122, 28, 1);
	--hover-width: 75%;
	--other-width: 25%;
	--speed: 1000ms;
}

body {
	font-family: 'Titillium Web', sans-serif;
	overflow: hidden;
}

#container {
	height: 100vh;
	text-align: center;
	display: flex;
}

.split {
	color: #fff;
	transition: all var(--speed) ease;
	position: relative;
	overflow: hidden;
}

.split:hover {
	width: 200%;
}
.heading {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
}
h1 {
	font-size: 48px;
	margin: 0 auto;
	margin-bottom: 40px;
	white-space: nowrap;
}

.left {
	background: linear-gradient(var(--left-bg-color), var(--left-bg-color)), url('ps.jpg');
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* .left:hover {
	background: url('ps.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.right:hover {
	background: url('xbox.jpg');
	background-size: cover;
	background-repeat: no-repeat;
} */
.right {
	background: linear-gradient(var(--right-bg-color), var(--right-bg-color)), url('xbox.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

.btn {
	border: 2px solid #fff;
	padding: 12px 60px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
}

.left .btn:hover {
	background-color: var(--left-btn-hover-color);
	border-color: var(--left-btn-hover-color);
}
.right .btn:hover {
	background-color: var(--right-btn-hover-color);
	border-color: var(--right-btn-hover-color);
}

@media (max-width: 800px) {
	h1 {
		font-size: 2rem;
	}
	.btn {
		padding: 0.8rem;
		font-size: 0.9rem;
		border-width: 1.8px;
	}
}

@media (max-width: 400px) {
	h1 {
		font-size: 1rem;
	}
	.btn {
		padding: 0.4rem;
		font-size: 0.7rem;
		border-width: 1.8px;
	}
}
