@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--navy-blue: rgb(25, 49, 70);
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: hsl(71, 100%, 87%);
	overflow-x: hidden;
	height: 100vh;
	background-color: var(--navy-blue);
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 5px;
	padding: 2.5rem 5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
	font-weight: 300;
	font-size: 28px;
	text-align: center;
	margin-bottom: 30px;
}

h2 {
	font-size: 16px;
	font-weight: 400;
	color: gray;
	margin-bottom: 2.5rem;
	letter-spacing: 1.5px;
}

p {
	font-weight: 700;
	font-size: 1.2rem;
}
.btn {
	border: none;
	padding: 0.8rem 2rem;
	border-radius: 5px;
	background-color: royalblue;
	font-size: 0.9rem;
	font-family: inherit;
	cursor: pointer;
	margin-top: 3rem;
	color: #fff;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.btn:active {
	transform: scale(0.98);
}
.btn:focus {
	outline: 0;
}
.btn:active {
	transform: scale(0.98);
}
